{% extends 'base.html' %}

{% block main %}
<div class="main-img"><img src="../static/img/capa.png" alt="Main Image"></img></div>    
<section>
    <h1>Sobre a universidade</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, possimus! Harum fugiat expedita quasi minus! Dolorum rem, obcaecati cupiditate esse amet quis, omnis veritatis facilis molestiae numquam dolor id consequuntur similique tenetur harum, consequatur libero unde nemo repudiandae odit ipsa! Aliquid, accusamus similique magni tenetur, voluptas at quo nam maxime fugiat neque facere delectus distinctio quasi modi cum animi ipsa autem tempore fuga aliquam temporibus? Voluptatem, doloribus soluta dolore veniam amet blanditiis vitae? Dicta, reprehenderit!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et repellendus quam voluptatem mollitia voluptate. Deserunt provident accusantium, vero dolor voluptate quaerat, fuga omnis laudantium accusamus dolorem ab id ducimus officiis saepe? Quo quos placeat maxime officia illo magni nostrum laboriosam. Sed at, dignissimos harum architecto consectetur sit assumenda itaque nostrum, voluptas in ea eum adipisci corrupti error veniam rerum dicta nobis placeat! Similique natus ullam et harum necessitatibus delectus nulla doloribus sint ipsam deleniti! Nobis.</p>
</section>
{% endblock %}
