{% extends 'base.html' %}

{% block main %}
<section class="quem-somos">
    <h1>Quem somos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloremque, ab eaque eos assumenda molestias praesentium minima, quasi iusto perspiciatis quod deleniti dolore cum, aperiam enim beatae iure harum quo? Aspernatur, recusandae fugit. Aspernatur asperiores itaque optio reprehenderit aut debitis nemo, adipisci fugiat. Error, iusto ducimus, possimus nisi veniam aliquid quae dolor quia distinctio consequuntur delectus aliquam consectetur ipsam reprehenderit iure. Quaerat in magnam repellendus fugiat assumenda, totam odio nihil autem veritatis. Facere, neque eum aspernatur, quisquam omnis beatae in dolore tempore dicta repudiandae cum fugiat odit, non veniam quam autem ipsa labore inventore. Doloremque atque consectetur delectus maiores quam.</p>
    <h1>5 motivos para estudar</h1>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>
    <hr>
</section>
<section>
    <h1>Objetivos</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo doloremque tempore, eius neque sed debitis maxime ipsum vel, quisquam totam possimus impedit nihil ipsa consectetur omnis dolore. Ullam odio, tempore rem voluptate veniam, iusto dolor, laborum ratione corporis esse quae soluta non pariatur illo commodi dolorum ab magnam? Quasi placeat nesciunt vel, ducimus nostrum, sapiente officiis sint, tempora laboriosam corrupti ratione laborum veniam a! Nesciunt quos voluptates harum error, minus quas sit tenetur nam rerum aperiam modi ullam, possimus incidunt impedit laborum, commodi asperiores. Voluptatibus, quo cumque. Quis, fugit repudiandae delectus culpa, voluptate itaque accusantium error asperiores, repellat consectetur impedit!</p>
</section>
{% endblock %}